/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* En-tête */
header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

#search,
#month-filter,
#year-filter {
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    max-width: 400px;
    border: none;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Conteneur principal */
#factures-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

/* Carte de facture */
.facture {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.facture img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.facture p {
    padding: 10px;
    margin: 0;
}
